*{
    text-decoration: none;
}
body{
    background: rgb(30, 30, 30);
}
a{
    color: goldenrod;
    font-family: Bebas Neue;
}
header{
    text-align: center;
}
button{
    background-color: white;
    margin: 0 auto;
    border-radius: 8px;
    border-color: goldenrod;
}
h1{
    color: goldenrod;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 85px;
}
img{
    display: block;
    margin: 0 auto;
}
.episodes-button{
    text-align: center;
}