*{
    text-decoration: none;
}
body{
    background-color: red;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    color: white;
    font-family: Bebas Neue;
}
a{
    color: black;
    font-family: Bebas Neue;
}